<h3>Volunteer Tracking</h3>

<div class="row">
  <div class="col-md-4">
    <p>Add a project</p>
    <form action="/projects/new" method="post">
      <label for="name">name</label>
      <input type="text" name="name" required>
      <br><br>
      <button class="btn btn-info" type="submit" name="button">add project</button>
    </form>
  </div>
  <div class="col-md-4">
    <p>Search projects</p>
    <form action="/search_stuff">
      <input type="text" name="parameter" required>
      <br>
      <br>
      <button class="btn btn-default" type="submit" name="button">search</button>
    </form>
  </div>
  <div class="col-md-4">
    <p>Search volunteers</p>
    <form action="/volunteer_search">
      <input type="text" name="search_peeps" required>
      <br>
      <br>
      <button class="btn btn-default" type="submit" name="button">search</button>
    </form>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-4">

    <% if @projects.any? %>
    <p>Current projects</p>
    <form action="/alphabetize">
      <button type="submit" class="btn btn-success" name="button">alphabetically</button>
    </form>
    <br>
    <ul>
      <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id() %>"><%= project.name %></a></li>
      <% end %>
    </ul>
    <% end %>

  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

    <% if @volunteers.any? %>
    <p>Current Volunteers</p>
    <form action="/alphabetize_vols">
      <button type="submit" class="btn btn-success" name="button">alphabetically</button>
    </form>
    <br>

    <ul>
      <% @volunteers.each do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id() %>"><%= volunteer.name %></a></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
