<h3>Volunteer Tracking</h3>

<div class="projects">
  <p>Add a project</p>
  <form action="/projects/new" method="post">
  <label for="name">name</label>
  <input type="text" name="name" required>
  <br><br>
  <button class="btn btn-info" type="submit" name="button">add project</button>
</form>
<hr>

<% if @projects.any? %>
<p>Current projects</p>

<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id() %>"><%= project.name %></a></li>
  <% end %>
</ul>
<% end %>
</div>
