<h3>Project Alphabet</h3>

<ul>
  <% @alpha_projects.each do |project| %>
  <li><a href="/projects/<%= project['id'] %>"><%= project['name'] %></a></li>
  <% end %>
</ul>

<form action="/">
  <button type="submit" class="btn btn-info" name="button">back</button>
</form>
