<h3>Volunteer Hours</h3>

<ul>
  <% @hours_volunteers.each do |volunteer| %>
  <li><a href="/volunteers/<%= volunteer['id'] %>"><%= volunteer['name'] %>, hours- <%= volunteer['hours'] %></a></li>
  <% end %>
</ul>

<form action="/">
  <button type="submit" class="btn btn-info" name="button">back</button>
</form>
